
.grid-container {
  display: grid;
  overflow: hidden;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

  div[class^='row'] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

    div[class^='cell'] {
      display: grid;
      place-items: center;
      min-height: 12vh;
      border: 1px solid black;
    }

  .controls {
    display: grid;
    width: 50%;
    margin: 5% auto 0 auto;
    justify-items: center;
    grid-template-areas:
      ". n . ."
      "w . e acc"
      ". s . .";
  }

    #forward {
      grid-area: acc;
    }

    #north {
      grid-area: n;
    }

    #east {
      grid-area: e;
    }

    #south {
      grid-area: s;
    }

    #west {
      grid-area: w;
    }

    button:not(.active) {
      opacity: .5;
    }

    button.active {
      color: red;
    }


    #robot {
      display: block;
      position: relative;
      width: 10vh;
      height: 10vh;
      background-color: blue;
      border-radius: 50%;
    }

      #robot.east::before {
        position: absolute;
        content: '';
        background-color: yellow;
        border-radius: 50%;
        width: 15%;
        height: 15%;
        top: 40%;
        left: 70%;
        right: 0;
        bottom: 0;
        transition: .5s;
      }

      #robot.west::before {
        position: absolute;
        content: '';
        background-color: yellow;
        border-radius: 50%;
        width: 15%;
        height: 15%;
        top: 40%;
        left: 20%;
        right: 0;
        bottom: 0;
        transition: .5s;
      }

      #robot.north::before {
        position: absolute;
        content: '';
        background-color: yellow;
        border-radius: 50%;
        width: 15%;
        height: 15%;
        top: 20%;
        left: 45%;
        right: 0;
        bottom: 0;
        transition: .5s;
      }

      #robot.south::before {
        position: absolute;
        content: '';
        background-color: yellow;
        border-radius: 50%;
        width: 15%;
        height: 15%;
        top: 70%;
        left: 45%;
        right: 0;
        bottom: 0;
        transition: .5s;
      }

      /* Move East */

      .robot-east-enter {
        left: -18vw;
      }

      .robot-east-enter.robot-east-enter-active {
        transition: .2s;
        left: 0;
      }

      .robot-east-leave {
        left: 0;
      }

      .robot-east-leave.robot-east-leave-active {
        transition: .2s;
        left: 18vw;
      }

        #robot.bump.east {
          animation: bump-east .5s ease-out;
        }

        @keyframes bump-east {
          0% {
            left: 5vw;
          }

          50% {
            left: -5vw;
          }

          100% {
            left: 0;
          }
        }

      /* Move West */

      .robot-west-enter {
        right: -18vw;
      }

      .robot-west-enter.robot-west-enter-active {
        transition: .2s;
        right: 0;
      }

      .robot-west-leave {
        right: 0;
      }

      .robot-west-leave.robot-west-leave-active {
        transition: .2s;
        right: 18vw;
      }

        #robot.bump.west {
          animation: bump-west .5s ease-out;
        }

        @keyframes bump-west {
          0% {
            right: 5vw;
          }

          50% {
            right: -5vw;
          }

          100% {
            right: 0;
          }
        }

      /* Move North */

      .robot-north-enter {
        bottom: -100%;
      }

      .robot-north-enter.robot-north-enter-active {
        transition: .2s;
        bottom: 0;
      }

      .robot-north-leave {
        bottom: 0;
      }

      .robot-north-leave.robot-north-leave-active {
        transition: .2s;
        bottom: 100%;
      }

        #robot.bump.north {
          animation: bump-north .5s ease-out;
        }

        @keyframes bump-north {
          0% {
            bottom: 12%;
          }

          50% {
            bottom: -50%;
          }

          100% {
            bottom: 0;
          }
        }

      /* Move South */

      .robot-south-enter {
        top: -100%;
      }

      .robot-south-enter.robot-south-enter-active {
        transition: .2s;
        top: 0;
      }

      .robot-south-leave {
        top: 0;
      }

      .robot-south-leave.robot-south-leave-active {
        transition: .2s;
        top: 100%;
      }

        #robot.bump.south {
          animation: bump-south .5s ease-out;
        }

        @keyframes bump-south {
          0% {
            top: 12%;
          }

          50% {
            top: -50%;
          }

          100% {
            top: 0;
          }
        }