
.grid-container {
  display: grid;
  overflow: hidden;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

  div[class^='row'] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

    div[class^='cell'] {
      display: grid;
      place-items: center;
      min-height: 12vh;
      border: 1px solid black;
    }

  .controls {
    display: grid;
    width: 50%;
    margin: 5% auto 0 auto;
    justify-items: center;
    grid-template-areas:
      ". n . ."
      "w . e acc"
      ". s . .";
  }

    #forward {
      grid-area: acc;
    }

    #north {
      grid-area: n;
    }

    #east {
      grid-area: e;
    }

    #south {
      grid-area: s;
    }

    #west {
      grid-area: w;
    }

    button:not(.active) {
      opacity: .5;
    }

    button.active {
      color: red;
    }


    #robot {
      display: grid;
      position: relative;
      place-items: center;
      width: 8vh;
      height: 8vh;
    }

      .base {
        position: relative;
        z-index: 1;
      }

      .wheels,
      .face {
        position: absolute;
      }

        .face {
          width: 20%;
          top: 12%;
          z-index: 2;
          transition: .35s;
        }

          .east .face {
            left: 42%;
          }

          .west .face {
            left: 38%;
          }

          .north .face > path {
            opacity: 0;
          }

        .wheels {
          width: 28%;
          top: 100%;
          z-index: -1;
        }

          .left-wheel,
          .right-wheel {
            position: absolute;
            transform-style: preserve-3d;
            width: 28%;
            height: 28%;
            top: 100%;
          }

          .left-wheel {
            left: 24%;
          }

          .right-wheel {
            right: 24%;
          }

            .wheel-front {
              width: 100%;
              height: 100%;
            }

              .wheel-front::before {
                position: absolute;
                width: 100%;
                left: 0;
                z-index: 2;
                content: url('spokes.svg');
              }

            .wheel-turned {
              position: absolute;
              overflow: hidden;
              top: 0;
              border-bottom-left-radius: 100%;
              border-bottom-right-radius: 100%;
              background-color: black;
              width: 30%;
              height: 100%;
              transform: rotateY(-90deg);
            }

              .wheel-turned::before {
                position: absolute;
                opacity: .5;
                width: 1vw;
                content: url('tread.svg');
                left: 0;
                top: 0;
                bottom: 45%;
              }



      /* Turn */

      #robot.east.turn  .left-wheel,
      #robot.east.turn  .right-wheel,
      #robot.west.turn  .left-wheel,
      #robot.west.turn  .right-wheel {
        transition: .25s linear;
      }

      #robot.north  .left-wheel,
      #robot.north  .right-wheel,
      #robot.south  .left-wheel,
      #robot.south  .right-wheel {
        transform: rotateY(-90deg);
        transition: .25s linear;
      }


      /* Move East */

      .robot-east-enter {
        left: -18vw;
      }

      .robot-east-enter.robot-east-enter-active {
        transition: 1s;
        left: 0;
      }

      .robot-east-leave {
        left: 0;
      }

      .robot-east-leave.robot-east-leave-active {
        transition: 1s;
        left: 18vw;
      }

        #robot.bump.east {
          animation: bump-east 1s ease-out;
        }

        @keyframes bump-east {
          0% {
            left: 5vw;
          }

          50% {
            left: -5vw;
          }

          100% {
            left: 0;
          }
        }

        /* Wheels Roll Horizontally */
        .robot-east-enter.robot-east-enter-active .left-wheel,
        .robot-east-leave.robot-east-leave-active .left-wheel,
        .robot-east-enter.robot-east-enter-active .right-wheel,
        .robot-east-leave.robot-east-leave-active .right-wheel {
          transform: rotate(360deg);
          transition: 1s;
        }

      /* Move West */

      .robot-west-enter {
        right: -18vw;
      }

      .robot-west-enter.robot-west-enter-active {
        transition: 1s;
        right: 0;
      }

      .robot-west-leave {
        right: 0;
      }

      .robot-west-leave.robot-west-leave-active {
        transition: 1s;
        right: 18vw;
      }

        #robot.bump.west {
          animation: bump-west 1s ease-out;
        }

        @keyframes bump-west {
          0% {
            right: 5vw;
          }

          50% {
            right: -5vw;
          }

          100% {
            right: 0;
          }
        }
          /* Wheels Roll Horizontally */
          .robot-west-enter.robot-west-enter-active .left-wheel,
          .robot-west-leave.robot-west-leave-active .left-wheel,
          .robot-west-enter.robot-west-enter-active .right-wheel,
          .robot-west-leave.robot-west-leave-active .right-wheel {
            transform: rotate(-360deg);
            transition: 1s;
          }

      /* Move North */

      .robot-north-enter {
        bottom: -100%;
      }

      .robot-north-enter.robot-north-enter-active {
        transition: 1s;
        bottom: 0;
      }

      .robot-north-leave {
        bottom: 2%;
      }

      .robot-north-leave.robot-north-leave-active {
        transition: 1s;
        bottom: 102%;
      }

        /* Wheels Roll Vertically */
        .robot-north-enter.robot-north-enter-active .wheel-turned::before,
        .robot-north-leave.robot-north-leave-active .wheel-turned::before{
          transform: translate(0, -30%);
          transition: 1s;
        }


        #robot.bump.north {
          animation: bump-north 1s ease-out;
        }

        @keyframes bump-north {
          0% {
            bottom: 12%;
          }

          50% {
            bottom: -50%;
          }

          100% {
            bottom: 0;
          }
        }

      /* Move South */

      .robot-south-enter {
        top: -100%;
      }

      .robot-south-enter.robot-south-enter-active {
        transition: 1s;
        top: 0;
      }

      .robot-south-leave {
        top: 2%;
      }

      .robot-south-leave.robot-south-leave-active {
        transition: 1s;
        top: 102%;
      }

        /* Wheels Roll Vertically */
        .robot-south-enter.robot-south-enter-active .wheel-turned::before,
        .robot-south-leave.robot-south-leave-active .wheel-turned::before{
          transform: translate(0, 30%);
          transition: 1s;
        }

        #robot.bump.south {
          animation: bump-south 1s ease-out;
        }

        @keyframes bump-south {
          0% {
            top: 12%;
          }

          50% {
            top: -50%;
          }

          100% {
            top: 0;
          }
        }